<% cache ['product_additions', product] do %>
  <% product.items.each do |item| %>
    <div class="addition" data-id="<%= item.id %>">
      <span class="label label-info" >
        <%= item.name %>
        <i class="glyphicon glyphicon-remove white"></i>
      </span>
    </div>
  <% end %>
<% end %>