<h5> <%= Product.human_attribute_name 'ingredients' %> </h5 >
<div class="additions">
  <%= render partial:'additions', locals:{product:@product} %>
</div>
<br>
<a href="JavaScript:void(0);" class="btn btn-warning btn-sm" role="button">
  <i class='glyphicon glyphicon-plus-sign'></i>
  Additions
</a>