<div class="chooser">
  <div class="col-md-3 col-sm-3" style="padding-right: 0px;">
    <%= render partial:'categories',
        locals: {id:'slider', align:'right',
                categories:categories, category:category, product:product} %>
  </div>

  <div class="col-md-6 col-sm-6">
    <div class="row">
      <div id="slider_container" class="col-md-12 col-md-offset-1 col-sm-12 col-sm-offset-1">
        <%= render partial:'chooser_slider_internal', locals:{product:product, products:products, category:category} %>
      </div>
    </div>
  </div>
</div>