<div class="row">
  <%= render partial:'slider',
    locals: {categories:categories, category:category, size:size, product:product, products:products} if mode == 'slider' %>
  <%= render partial:'splitter',
    locals: {categories:categories, category:category, size:size, product:product, products:products} if mode == 'splitter' %>
</div>

<div class="row">
  <div class="col-md-6 col-sm-6 ingredients left" style="padding-right: 0px;">
    <%= render partial:'ingredients', locals: {product:product, mode:mode, side:'left', product:product} %>
  </div>
  <% if mode == 'splitter' %>
    <div class="col-md-6 col-sm-6 ingredients right" style="padding-left: 0px; text-align: right;">
      <%= render partial:'ingredients', locals: {product:product, mode:mode, side:'right', product:product} %>
    </div>
  <% end %>
</div>