  <div class="col-md-12 col-sm-12">
    <%= f.hidden_field :product_id, value: product.id %>
    <div class="form-group <%= tb_has_error cart_item, :size %>" style ="margin-bottom: 10px;">
      <div class="col-md-1 col-sm-1">
        <h4 style="margin-left: -15px;"> Size </h4>
      </div>
      <div class="col-md-11 col-sm-11">
        <%= f.select :price_id,
                    options_for_select(product.prices.collect{|price| ["#{price.size.name}: #{number_to_currency price.value}", price.id] }), {}, {class: 'form-control cart_add_item_modal_size'}  %>
      </div>
    </div>
  </div>