<% content_for :page_title, 'Cart' %>
<% content_for :page_description, 'Cart your pizza!' %>
<% content_for :page_keywords, 'Pizza' %>

<% content_for :breadcrumb do %>
  <%= tb_breadcrumb 'Cart' %>
<% end %>

<div class="container cart-container">

  <div class="messages">
    <%= render partial: 'layouts/flash_messages', flash:flash %>
  </div>

  <%= render partial:'/cart/index', locals:{product:@product,
                                           category:@category,
                                               size:@size,
                                          cart_item:@cart_item,
                                         categories:@categories,
                                              sizes:@sizes,
                                           products:@products} %>
</div>