<div class="row">
  <%= fields_for "opening_hour[shifts_attributes][]", shift, index: shift_index do |shift_form| %>
    <div class='col-md-5'>
      <div class="form-group">
        <div class='input-group date datetimepicker_timer'>
          <%= shift_form.text_field :start_at, class: 'form-control datetimepicker_timer', value: shift.start_at %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
          </span>
        </div>
      </div>
    </div>

    <div class='col-md-5'>
      <div class="form-group">
        <div class='input-group date datetimepicker_timer'>
          <%= shift_form.text_field :end_at, class: 'form-control datetimepicker_timer', value: shift.end_at %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
          </span>
        </div>
      </div>
    </div>
  <% end %>

  <% if shift_index > 0 %>
    <div class='col-md-1'>
      <div class="form-group">
          <button type="button" class="btn btn-default remove_shift" <%=  'disabled' if ((shift.opening_hour.shifts.count-1) != shift_index) %>>
            <i class="glyphicon glyphicon-remove"></i>
          </button>
      </div>
    </div>
  <% end %>
</div>