<center><h1>Choose the Date and Time</h1></center>
<br>
<div class="row checkout" style="min-height:420px;">

  <div class="col-sm-offset-4 col-md-4 col-sm-4">
    <div class="sidebar-item">
      <!-- Heading -->
      <h5 class="pull-left"><%= place.name %></h5>
      <!-- Sidebar content icon -->
      <i class="fa fa-truck br-green pull-right"></i>
      <div class="clearfix"></div>
      <!-- Sidebar Paragraph -->
      <p> <%= place.address %> </p>
      <iframe src="<%= place.map %>"
        width="340" height="300" frameborder="0" style="border:0"></iframe>
    </div>
  </div>

  <%= render partial:'/pick_up/form', locals:{pick_up:pick_up,
                                              dates_available:dates_available,
                                              times_available:times_available} %>
</div>