<center><h1>Contact Details</h1></center>
<br>
<div class="row">

  <div class="col-md-6 col-sm-6">

    <h4>Sign In</h4>

    <form role="form" class="form-horizontal">
      <div class="form-group ">
        <label class="col-md-2 control-label" for="customer_email">Email</label>
        <div class="col-md-8">
          <input class="form-control" id="customer_email" name="customer[email]" placeholder="Email" type="text">
        </div>
      </div>
      <div class="form-group ">
        <label class="col-md-2 control-label" for="customer_password">Password</label>
        <div class="col-md-8">
          <input autocomplete="off" class="form-control" id="customer_password" name="customer[password]" placeholder="Password" type="password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
          <button class="btn btn-danger btn-sm" name="button" type="submit">
            <i class="glyphicon glyphicon-ok"></i> Sign in
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-6 col-sm-6">

    <h4>Sign Up</h4>

    <form class="form-horizontal" role="form">

      <div class="form-group ">
        <label class="col-md-2 control-label" for="customer_name">Name</label>
        <div class="col-md-8">
          <input class="form-control" id="customer_name" name="customer[name]" placeholder="Name" type="text">
        </div>
      </div>

      <div class="form-group ">
        <label class="col-md-2 control-label" for="customer_surname">Surname</label>
        <div class="col-md-8">
          <input class="form-control" id="customer_surname" name="customer[surname]" placeholder="Family Name" type="text">
        </div>
      </div>

      <div class="form-group ">
        <label class="col-md-2 control-label" for="customer_mobile">Mobile</label>
        <div class="col-md-8">
          <input class="form-control" id="customer_mobile" name="customer[mobile]" placeholder="Mobile" type="text">
        </div>
      </div>
      <div class="form-group ">
        <label class="col-md-2 control-label" for="customer_email">Email</label>
        <div class="col-md-8">
          <input class="form-control" id="customer_email" name="customer[email]" placeholder="Email" type="text">
        </div>
      </div>

      <div class="form-group ">
        <label class="col-md-2 control-label" for="customer_password">Password</label>
        <div class="col-md-8">
          <input autocomplete="off" class="form-control" id="customer_password" name="customer[password]" placeholder="Password" type="password">
        </div>
      </div>

      <div class="form-group ">
        <label class="col-md-2 control-label" for="customer_confirm">Confirm</label>
        <div class="col-md-8">
          <input autocomplete="off" class="form-control" id="customer_password_confirmation" name="customer[password_confirmation]" placeholder="Confirm Password" type="password">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
          <button class="btn btn-danger btn-sm" name="button" type="submit">
            <i class="glyphicon glyphicon-ok"></i> Create
          </button>
        </div>
      </div>

    </form>
  </div>
</div>