<%= tb_breadcrumb 'Live' %>

<div class="container pick-up padd">
  <div id="wizard" class="carousel wrap slide">
    <div class="carousel-inner">
      <div class="item active">
        <div class="row">
          <div class="col-md-12 col-sm-12 places">
            <div class="row shopping">
              <% Order.approved.each_with_index do |order, index| %>
                <div class="<%= 'col-md-offset-1 col-sm-offset-1 ' if index == 0 %>col-md-3 col-sm-6">
                  <%= order.code %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-12 col-sm-12 when"></div>
        </div>
      </div>

    </div>
  </div>
</div>