<%= form_for cart_item, html: {role: 'form', class: 'form-horizontal cart_item_form'}, remote: true do |f| %>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <%= image_tag product.photo.url(:large), class: 'img-responsive img-thumbnail' %>
    </div>
    <div class="col-md-8 col-sm-8">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="item-details">
            <div class="cart_item_form_container">
              <%= render partial:'cart/modal/form_internal', locals:{f:f, cart_item:cart_item, product:product} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial:'cart/modal/additionables', locals:{product:product} if product.type.additionable? %>
<% end %>