<div class="modal fade print-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          Print
        </h4>
      </div>
      <div class="modal-body">
        Printing...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">
          <i class='glyphicon glyphicon-ban-circle'></i>
          <%= t '.links.close' %>
        </button>
      </div>
    </div>
  </div>
</div>