<div class="btn-cart-md"> <!-- Button Kart -->
  <a class="cart-link" href="#">
    <!-- Image -->
    <%= image_tag "cart.png", class: 'img-responsive' %>
    <!-- Heading -->
    <h4>Shopping Cart</h4>
    <span class="price">
      <%= render partial:'cart/button/price', locals:{cart:cart} %>
    </span>
    <div class="clearfix"></div>
  </a>
  <%= render partial: 'cart/button/list', locals:{cart:cart} %>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>