<ul class="cart-dropdown" role="menu">
  <% cart.items.each do |item| %>
    <%= render partial:'cart/button/item', locals:{cart_item:item} %>
  <% end %>
  <li>
    <!-- Cart items for shopping list -->
    <div class="cart-item">
      <%= link_to cart_checkout_path(cart.id), remote: true, role: 'button',
          class: 'btn btn-danger checkout' do %>
        Checkout
      <% end %>
    </div>
  </li>
</ul>