<table class="table table-condensed">
	<thead>
		<tr>
			<th style="width:30px;"> # </th>
			<th><%= Ingredient.human_attribute_name("name") %></th>
			<th><%= Ingredient.human_attribute_name("price") %></th>
			<th style="width:60px;"></th>
		</tr>
	</thead>
	<tbody>
		<%= render @ingredients %>
	</tbody>
</table>