                <!-- Button Kart -->
                <div class="btn-cart-md">

                  <a class="cart-link" href="#">
                    <!-- Image -->
                    <%= image_tag "cart.png", class: 'img-responsive' %>
                    <!-- Heading -->
                    <h4>Shopping Cart</h4>
                    <span>3 items $489/-</span>
                    <div class="clearfix"></div>
                  </a>

                  <ul class="cart-dropdown" role="menu">
                    <li>
                      <!-- Cart items for shopping list -->
                      <div class="cart-item">
                        <!-- Item remove icon -->
                        <a href="#"><i class="fa fa-times"></i></a>
                        <!-- Image -->
                        <%= image_tag "nav-menu/nav1.jpg", class: 'img-responsive img-rounded' %>
                        <!-- Title for purchase item -->
                        <span class="cart-title"><a href="#">Exception Reins Evocative</a></span>
                        <!-- Cart item price -->
                        <span class="cart-price pull-right red">$200/-</span>
                        <div class="clearfix"></div>
                      </div>
                    </li>
                    <li>
                      <!-- Cart items for shopping list -->
                      <div class="cart-item">
                        <!-- Item remove icon -->
                        <a href="#"><i class="fa fa-times"></i></a>
                        <!-- Image -->
                        <%= image_tag "nav-menu/nav2.jpg", class: 'img-responsive img-rounded' %>
                        <!-- Title for purchase item -->
                        <span class="cart-title"><a href="#">Taut Mayoress Alias Appendicitis</a></span>
                        <!-- Cart item price -->
                        <span class="cart-price pull-right red">$190/-</span>
                        <div class="clearfix"></div>
                      </div>
                    </li>
                    <li>
                      <!-- Cart items for shopping list -->
                      <div class="cart-item">
                        <!-- Item remove icon -->
                        <a href="#"><i class="fa fa-times"></i></a>
                        <!-- Image -->
                        <%= image_tag "nav-menu/nav3.jpg", class: 'img-responsive img-rounded' %>
                        <!-- Title for purchase item -->
                        <span class="cart-title"><a href="#">Sinter et Molests Perfectionist</a></span>
                        <!-- Cart item price -->
                        <span class="cart-price pull-right red">$99/-</span>
                        <div class="clearfix"></div>
                      </div>
                    </li>
                    <li>
                      <!-- Cart items for shopping list -->
                      <div class="cart-item">
                        <a class="btn btn-danger" data-toggle="modal" href="#shoppingcart1">Checkout</a>
                      </div>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>