<div style="margin-top: 10px; padding-bottom: 5px; border-bottom: 1px dashed #ddd;">
  <h4 class="pull-left" style="margin: 0; font-size: 16px; line-height: 23px;">
    <%= name %>
  </h4>
  <span class="price pull-right" style="font-size: 15px; line-height: 23px; font-weight: 700;">
    <%= number_to_currency value %>
  </span>
  <div class="clearfix"></div>
</div>