<div class="modal fade term" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4><%= t "terms.#{term}" %></h4>
      </div>
      <div id="price_modal_form_container" class="modal-body" style="padding-top: 10px;">
        <div class="single-item">
          <%= render partial:"home/#{term}" %>
        </div>
      </div>
      <div class="modal-footer" style="margin-top: 0px;">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          <i class='glyphicon glyphicon glyphicon-remove'></i>
          <%= t 'links.close' %>
        </button>
      </div>
    </div>
  </div>
</div>