<!-- Shopping cart Modal -->
<div class="modal fade expired" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">
          The order has been expired
        </h2>
      </div>
      <div class="modal-body">
        Sorry, the order has been expired due to the long time shopping.
      </div>
      <div class="modal-footer">
        <%= link_to cart_path, class:'btn btn-primary' do %>
          Close
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Model End -->