<table class="table table-condensed table-bordered">
  <thead>
    <tr>
      <th style="width:30px;"> # </th>
      <th><%= Chef.human_attribute_name 'name' %></th>
      <th><%= Chef.human_attribute_name 'position' %></th>
      <th style="width:60px;"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @chefs %>
  </tbody>
</table>