<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <dl>
      <dt>Name:</dt>
      <dd><%= @name %></dd>
      <dt>Email:</dt>
      <dd><%= @from %></dd>
      <dt>Message:</dt>
      <dd><%= @message %></dd>
    </dl>
  </body>
</html>