<div class="modal fade toppings-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>Toppings</h4>
      </div>
      <div class="modal-body">
        <div class="single-item">
          <%= render partial:'cart/toppings/available', locals:{all_products:products, product:product} %>
          <h4> Toppings added </h4>
          <div class="row added">
            <div class="col-md-12 col-sm-12">
              <%= render partial:'cart/toppings/added', locals:{product:product, toppings:toppings, mode:mode, side:side} %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-md-1 col-sm-1 total">
            Total:
          </div>
          <div class="col-md-1 col-sm-1 price">
            <%= render partial:'cart/price', locals:{value:value} %>
          </div>
          <div class="col-md-9 col-sm-9 warning"></div>
          <div class="col-md-1 col-sm-1 button">
            <button type="button" class="btn btn-warning save">
              <i class='glyphicon glyphicon-shopping-cart'></i>
              <%= t 'links.add_simple' %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>