<div class="ingredient toppings" data-id="<%= product.id %>">
  <% field_name = 'topping_ids[]' %>
  <%= hidden_field_tag field_name, product.id, class:'additionable' %>
  <span class="label label-warning" >
    <%= product.name %>
    <i class="glyphicon glyphicon-remove white"></i>
  </span>
</div>