<tr>
  <td> <%= price.id %> </td>
  <td> <%= price.size.name %> </td>
  <td> <%= price.value %> </td>
  <td>
      <a href="/dishes/1"><i class="glyphicon glyphicon-eye-open"></i> </a>
      <a href="/dishes/1/edit"><i class="glyphicon glyphicon-pencil"></i> </a>
      <a data-confirm="Are you sure?" data-method="delete" href="/dishes/1" rel="nofollow"><i class="glyphicon glyphicon-remove"></i> </a>
  </td>
</tr>