<table class="table table-condensed table-bordered">
  <thead>
    <tr>
      <th style="width:30px;"> # </th>
      <th><%= Product.human_attribute_name 'name' %></th>
      <th><%= Product.human_attribute_name 'type' %></th>
      <th><%= Product.human_attribute_name 'category' %></th>
      <th style="width:60px;"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @products %>
  </tbody>
</table>