<tr>
  <td> <%= order_item_sizable_additionable.id %> </td>
  <%= render 'admin/order_item_sizable_additionables/order_item_sizable_additionable_detail', order_item_sizable_additionable:order_item_sizable_additionable %>
</tr>