// Place all the styles related to the Cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$screen-sm:                  768px !default;
$carousel-caption-color:     #fff !default;
$carousel-text-shadow:       0 1px 2px rgba(0,0,0,.6) !default;
$screen-sm-min:              $screen-sm !default;

/*
 * Add to Cart
 */

.cart-modal .single-item p {
  margin-bottom: 5px;
  font-size: 13px;
  color: #9a9a9a;
}

.cart-modal table {
  margin-top: 12px;
  background: #fffbe5;
  border-radius: 2px;
  border: 1px solid #ecdd94;
}

.cart-modal span.item-price, span.size-price {
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 26px;
  font-weight: 700;
  color: #f75353;
}

.cart-modal .btn-group {
  margin-right: 5px;
}

.cart-modal .splittable .dropdown-menu {
  left: -60px;
}

.cart-modal .sizable span.size-price {
  font-size: 13px;
}

.cart-modal .sizable .size-price-small {
  font-size: 10px;
  margin-top: -5px;
}

.cart-modal .dropdown-menu > li > a {
  font-size: 12px;
}

.btn-group.splittable.left .dropdown-menu {
  left: 103px;
}

.cart-modal .sizable .dropdown-menu > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
}

/*#####################
Additional Styles (required)
######################*/
.cart-modal .carousel {
  margin-left: 10px;
  margin-right: 10px;
}

.cart-modal .carousel .thumbnail {
  margin-bottom:0;
  height: 162px;
}

.cart-modal .carousel .thumbnail img {
  width: 110px;
  height: 60px;
}

.cart-modal .carousel-control {
  color:#428BCA;
  top:44%;
  bottom:auto;
  opacity:1;
}
.cart-modal .carousel-control:hover {
  color:#d9534f;
}
.cart-modal .carousel-control.left, .carousel-control.right {
  background-image:none !important;
}
.cart-modal .carousel-control.right {
  left:auto;
  right:-58px;
}
.cart-modal .carousel-control.left {
  right:auto;
  left:-45px;
}

.addition {
  display: inline-block;
  margin-top: 10px;
}

.addition i {
  cursor: pointer;
}

.cart-modal .additionables h4 {
  padding-left: 10px;
}

.carousel.vertical .carousel-inner {
  height: 100%;
}
.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
  -moz-transition:    0.6s ease-in-out top;
  -ms-transition:     0.6s ease-in-out top;
  -o-transition:      0.6s ease-in-out top;
  left:               0;
}
.carousel.vertical .active,
.carousel.vertical .next.left,
.carousel.vertical .prev.right    { top:     0; }
.carousel.vertical .next,
.carousel.vertical .active.right  { top:  100%; }
.carousel.vertical .prev,
.carousel.vertical .active.left   { top: -100%; }

.splitter .carousel-control.left, .splitter .carousel-control.right, .slider .carousel-control.left, .slider .carousel-control.right {
  background-image:none !important;
}

.splitter .item {
  text-align: center;
}

.splitter.right .carousel-control.left {
  top: 211px;
  left: 139px;
}

.splitter.right .carousel-control.right {
  height: 20px;
}

.splitter.left .carousel-control.left {
  top: 211px;
}

.splitter.left .carousel-control.right {
  left: 1px;
  height: 20px;
}


.slider .carousel-control.left {
  top: 223px;
  left: -35px;
}

.slider .carousel-control.right {
  left: -34px;
  height: 20px;
}

.addition {
  font-size: 9px;
}

.addition .label {
  font-size: 11px;
}

.chooser .element {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 1px;
  overflow: hidden;
}

.chooser .element .gallery-img-hover {
  position: absolute;
  top: 100%;
  left: 0%;
  z-index: 20;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.15);
  -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}

.chooser .element:hover .gallery-img-hover { top: 0%; }
.chooser .element a{ color: #fff; }
.chooser .element i.hover-icon{
  position: absolute;
  top: 50%;
  z-index: 25;
  display: inline-block;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  background: rgba(0,0,0,0.5);
  border-radius: 50px;
  -webkit-transition: all 0.4s ease-in;
     -moz-transition: all 0.4s ease-in;
      -ms-transition: all 0.4s ease-in;
       -o-transition: all 0.4s ease-in;
          transition: all 0.4s ease-in;
}

.chooser .element i.icon-left { right: 100%; margin-right: 10px; }
.chooser .element i.icon-right { left: 100%; margin-left: 10px; }
.chooser .element:hover i.icon-left { right: 35%; }
.chooser .element:hover i.icon-right { left: 50%; }