// Place all the styles related to the Cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$screen-sm:                  768px !default;
$carousel-caption-color:     #fff !default;
$carousel-text-shadow:       0 1px 2px rgba(0,0,0,.6) !default;
$screen-sm-min:              $screen-sm !default;

/*
 * cart-modal
 */

.cart-modal .single-item p {
  margin-bottom: 5px;
  font-size: 13px;
  color: #9a9a9a;
}

.cart-modal table {
  margin-top: 12px;
  background: #fffbe5;
  border-radius: 2px;
  border: 1px solid #ecdd94;
}

.cart-modal span.price, span.size-price {
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 26px;
  font-weight: 700;
  color: #f75353;
}

.cart-modal .sizable span.size-price {
  font-size: 13px;
}

.cart-modal .btn-group {
  margin-right: 5px;
}

.cart-modal .splittable .dropdown-menu {
  left: -60px;
}

.cart-modal .sizable .price {
  font-size: 10px;
  margin-top: -5px;
}

.cart-modal .dropdown-menu > li > a {
  font-size: 12px;
}

.btn-group.splittable.left .dropdown-menu {
  left: 103px;
}

.cart-modal .sizable .dropdown-menu > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
}

.cart-modal .carousel {
  margin-left: 10px;
  margin-right: 10px;
}

.cart-modal .carousel .thumbnail {
  margin-bottom:0;
  height: 162px;
}

.cart-modal .carousel .thumbnail img {
  width: 110px;
  height: 60px;
}

.cart-modal .carousel-control {
  color:#428BCA;
  top:44%;
  bottom:auto;
  opacity:1;
}
.cart-modal .carousel-control:hover {
  color:#d9534f;
}
.cart-modal .carousel-control.left, .carousel-control.right {
  background-image:none !important;
}
.cart-modal .carousel-control.right {
  left:auto;
  right:-58px;
}
.cart-modal .carousel-control.left {
  right:auto;
  left:-45px;
}

.cart-modal .additionables h4 {
  padding-left: 10px;
}

/*
 * cart-item
*/
.cart-container {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: white;
}

.cart-item .two-flavours .carousel-control, .one-flavour .carousel-control {
  background-image:none !important;
}

.cart-item .two_flavours .item {
  text-align: center;
}

.cart-item .two-flavours.right .carousel-control.down {
  top: 211px;
  left: 139px;
}

.cart-item .two-flavours.right .carousel-control.up {
  height: 20px;
  left: 143px;
}

.cart-item .two-flavours.left .carousel-control.down {
  top: 211px;
}

.cart-item .two-flavours.left .carousel-control.up {
  left: 1px;
  height: 20px;
}

.cart-item .one-flavour .carousel-control.down {
  top: 223px;
  left: -35px;
}

.cart-item .one-flavour .carousel-control.up {
  left: -34px;
  height: 20px;
}

.cart-item .chooser .element {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 1px;
  overflow: hidden;
}

.cart-item .chooser .element .gallery-img-hover {
  position: absolute;
  top: 100%;
  left: 0%;
  z-index: 20;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.15);
  -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}

.cart-item .chooser .element:hover .gallery-img-hover { top: 0%; }
.cart-item .chooser .element a{ color: #fff; }
.cart-item .chooser .element i.hover-icon{
  position: absolute;
  top: 50%;
  z-index: 25;
  display: inline-block;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  background: rgba(0,0,0,0.5);
  border-radius: 50px;
  -webkit-transition: all 0.4s ease-in;
     -moz-transition: all 0.4s ease-in;
      -ms-transition: all 0.4s ease-in;
       -o-transition: all 0.4s ease-in;
          transition: all 0.4s ease-in;
}

.cart-item .chooser .element i.icon-left { right: 100%; margin-right: 10px; }
.cart-item .chooser .element i.icon-right { left: 100%; margin-left: 10px; }
.cart-item .chooser .element:hover i.icon-left { right: 35%; }
.cart-item .chooser .element:hover i.icon-right { left: 50%; }

.cart-item .mode .fa-spin {
  margin-left: 10px;
  vertical-align: super;
}

.cart-item .sizable .size {
  font-size: 12px;
}

.cart-item div.price {
  text-align: center;
  padding-top: 10px;
  min-height: 40px;
}

.cart-item .price .value {
  font-size: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 26px;
  font-weight: 700;
  color: #f75353;
  text-align: left;
  padding-left: 0px;
}

.cart-item .btn.add {
  width: 106px;
  text-align: left;
}

.cart-item .sizes {
  padding-top: 5px;
}

/*
 * cart
*/
.cart .cart-panel .btn-cart-md {
  float: none !important;
  margin-left: 40px;
}

.cart .cart-panel .cart-dropdown .cart-heading {
  position: relative;
  padding: 12px 10px;
  border-bottom: 1px dotted #eee;
}

.cart .cart-panel .cart-panel-body {
  padding: 0px;
}

.cart .cart-panel .btn-cart-md a i {
    display: inline-block;
    margin-right: 6px;
}

.cart .cart-panel .btn-cart-md a.cart-link {
    font-size: 14px;
    font-weight: 700;
}

.cart .cart-panel .btn-cart-md a.cart-link img {
    max-width: 40px;
    float: left;
}

.cart .cart-panel .btn-cart-md a.cart-link h4 {
    position: none !important;
    margin: 0;
    margin-left: 50px;
    margin-top: 1px;
    padding-bottom: 1px;
    font-size: 14px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    color: #bbb;
    text-transform: uppercase;
    display: block !important;
}

.cart .cart-panel .btn-cart-md a.cart-link .price {
    display: block;
    margin-left: 50px;
    font-size: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #9a9a9a;
}

.cart .cart-panel .cart-dropdown {
    top: 55px;
    right: 0;
    z-index: 1000;
    width: 250px;
    padding: 0;
    list-style-type: none;
    background: #fff;
    border: 1px solid #f5f5f5;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.cart .cart-panel .cart-dropdown:after,
.cart .cart-panel .cart-dropdown:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.cart .cart-panel .cart-dropdown:after {
    border-color: rgba(75, 170, 211, 0);
    border-width: 6px;
    border-bottom-color: transparent;
}

.cart .cart-panel .cart-dropdown:before {
    margin-right: -3px;
    border-color: rgba(75, 170, 211, 0);
    border-width: 9px;
}

.cart .cart-panel .cart-dropdown:after,
.cart .cart-panel .cart-dropdown:before { right: 46%; }
.cart .cart-panel .cart-dropdown .cart-item {
    position: relative;
    padding: 12px 10px;
    border-bottom: 1px dotted #eee;
}

.cart .cart-panel .cart-dropdown li:last-child .cart-item { border-bottom: 0; }

.cart .cart-panel .cart-dropdown .cart-item  i{
    position: absolute;
    top: 10px;
    right: 5px;
    color: #ccc;
}

.cart .cart-panel .cart-dropdown .cart-item a.btn {
    width: 100%;
    color: #fff;
}

.cart .cart-panel .cart-dropdown .cart-item img {
    max-width: 60px;
    float: left;
    border: 2px solid #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
}
.cart .cart-panel .cart-dropdown .cart-item span { display: block; margin-left: 70px }
.cart .cart-panel .cart-dropdown .cart-item span.cart-title { font-size: 12px; }
.cart .cart-panel .cart-dropdown .cart-item span.cart-title small { font-size: 10px; }
.cart .cart-panel .cart-dropdown .cart-item span.cart-price { display:inline-block; font-weight: 700; }

.cart .cart-panel .cart-dropdown .cart-item span.cart-title ul {list-style: none;}
.cart .cart-panel .cart-dropdown .cart-item span.cart-title ul li {font-size: 10px; margin-left: -43px;}

/*
 * toppings-modal
 */

.toppings-modal .carousel-control {
  background-image:none !important;
}

.toppings-modal .carousel-control {
  width: 5%
}

.toppings-modal .modal-header {
  padding-bottom: 0px; padding-top: 0px;
}

.toppings-modal .modal-body {
  padding-top: 10px;
}

.toppings-modal .modal-body {
  padding-top: 10px;
}

.toppings-modal .single-item h4 {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
}

.toppings-modal .thumbnail {
  margin-bottom: 5px;
}

.toppings-modal .btn.add, .toppings-modal .btn.remove {
  width: 109px;
}

.toppings-modal .modal-footer {
  margin-top: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.toppings-modal .modal-footer .total {
  padding-top: 4px;
  padding-right: 10px;
  padding-right: 10px;
}

.toppings-modal .modal-footer .price {
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 26px;
  font-weight: 700;
  color: #f75353;
  text-align: left;
  padding-left: 0px;
}

.toppings-modal .modal-footer .warning {
  font-weight: 700;
  color: #f75353;
  padding-top: 6px;
}

.toppings-modal .modal-footer .button {
  padding-left: 0px;
}


.cart-item .toppings, .toppings-modal .toppings {
  padding-top: 10px;
}

.cart-item .ingredient, .toppings-modal .ingredient {
  display: inline-block;
  margin-top: 10px;
  font-size: 9px;
}

.cart-item .tags .ingredient i, .toppings-modal .tags .ingredient i {
  cursor: pointer;
}

.cart-item .tags .ingredient .label, .toppings-modal .tags .ingredient .label {
  font-size: 11px;
}