<table class="table table-condensed table-bordered">
  <thead>
    <tr>
      <th style="width:30px;"> # </th>
      <th style="width:50px;"><%= User.human_attribute_name 'admin' %></th>
      <th><%= User.human_attribute_name 'username' %></th>
      <th><%= User.human_attribute_name 'email' %></th>
      <th style="width:60px;"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>