<table class="table table-condensed">
  <thead>
    <tr>
      <th style="width:30px;"> # </th>
      <th><%= Place.human_attribute_name 'name' %></th>
      <th><%= Place.human_attribute_name 'address' %></th>
      <th><%= Place.human_attribute_name 'phone' %></th>
      <th style="width:60px;"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @places %>
  </tbody>
</table>