<ol class="breadcrumb">
  <li> <%= link_to 'Home', (admin? ? admin_root_path : root_path) %> </li>
  <% if previous %>
  <li><%= previous %></li>
  <% end %>
  <li class="active"> <%= active %> </li>
</ol>