<% content_for :head do %>
  <meta name="author" content="ResponsiveWebInc">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">
<% end %>

<% content_for :content do %>

    <!-- Page Wrapper -->
    <div class="wrapper">

      <%= render partial: 'layouts/header' %>

      <%= content_for?(:content_top) ? yield(:content_top) : yield %>

      <% content_for :footer do %>
        <%= render partial:'layouts/footer' %>
      <% end %>

    </div><!-- / Wrapper End -->

    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span>
<% end %>

<%= render template: "layouts/base" %>