<% content_for :head do %>
  <meta name="author" content="ResponsiveWebInc">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">
<% end %>

<% content_for :content do %>

    <!-- Page Wrapper -->
    <div class="wrapper">

      <%= render partial: 'layouts/header' %>

      <%= content_for?(:content_top) ? yield(:content_top) : yield %>

      <% content_for :footer do %>

        <div class="row">
          <div class="col-md-3 col-sm-6">
            <!-- Footer widget -->
            <div class="footer-widget">
              <!-- Heading -->
              <h4>Mundaring</h4>
              <div class="contact-details">
                <!-- Address / Icon -->
                <i class="fa fa-map-marker br-red"></i> <span>7125 Grt Eastern Hwy<br />Mundaring WA 6073</span>
                <div class="clearfix"></div>
                <!-- Contact Number / Icon -->
                <i class="fa fa-phone br-green"></i> <span>(08) 9295 6611</span>
              </div>
            </div> <!--/ Footer widget end -->
          </div>
          <div class="col-md-3 col-sm-6">
            <!-- Footer widget -->
            <div class="footer-widget">
              <!-- Heading -->
              <h4>Leederville</h4>
              <div class="contact-details">
                <!-- Address / Icon -->
                <i class="fa fa-map-marker br-red"></i> <span>127 Oxford Street<br />Leederville WA 6007</span>
                <div class="clearfix"></div>
                <!-- Contact Number / Icon -->
                <i class="fa fa-phone br-green"></i> <span>(08) 9444 0499</span>
              </div>

            </div> <!--/ Footer widget end -->
          </div>
          <div class="col-md-3 col-sm-6">
            <!-- Footer widget -->
            <div class="footer-widget">
              <!-- Heading -->
              <h4>Hillarys</h4>
              <div class="contact-details">
                <!-- Address / Icon -->
                <i class="fa fa-map-marker br-red"></i> <span>Shop 212, Sorrento Quay<br />Hillarys Boat Harbour</span>
                <div class="clearfix"></div>
                <!-- Contact Number / Icon -->
                <i class="fa fa-phone br-green"></i> <span>(08) 9243 3114</span>
              </div>

            </div> <!--/ Footer widget end -->
          </div>
          <div class="col-md-3 col-sm-6">
            <!-- Footer widget -->
            <div class="footer-widget">
              <!-- Heading -->
              <h4>Contact Us</h4>
              <div class="contact-details">
                <!-- Email / Icon -->
                <i class="fa fa-envelope-o br-lblue"></i> <span><a href="mailto:info@theoandco.net?subject=Info Little Caesars&body=Dear Little Caesars,">info@theoandco.net</a></span>
                <div class="clearfix"></div>
              </div>
              <!-- Social media icon -->
              <div class="social">
                <a href="https://www.facebook.com/pages/Little-Caesars-Pizzeria-Perth-WA/140628759285387" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://plus.google.com/107666662353798158669/about" class="google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="https://twitter.com/theoandco" class="twitter"><i class="fa fa-twitter"></i></a>
              </div>
            </div> <!--/ Footer widget end -->
          </div>
        </div>

      <% end %>

    </div><!-- / Wrapper End -->

    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span>
<% end %>

<%= render template: "layouts/base" %>